@import './_overrides';
@import '~bootstrap/scss/bootstrap';
@import './_custom';

body {
    background-color: $primary;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    color: $light;
    margin: 0;
    padding: 0;
}